*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    transition: .4s ease-in-out;
}

body {
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    background-color: #ece5dd;
}

a, input, button, textarea {
    font: inherit;
}

#main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HEADER */

header {
    max-height: 20vh;
    background-image: linear-gradient(45deg, #075e54, #128c7e);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: .7rem;
    font-weight: 600;
}

header img {
    height: 80px;
}

/* section */

section {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

/* ASIDE */

aside {
    min-height: 70vh;
    max-width: 30vw;
    background-color: #128c7e;
    border-radius: .7rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

aside form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    font-weight: 600;
}

aside .input__field {
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-radius: 2rem;
    gap: 10px;
    color: #aaa;
}

aside .input__field input {
    border: none;
    outline: none;
    font-weight: 600;
}

form input[type="submit"] {
    border: none;
    outline: none;
    background-color: #25d366;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    border-radius: .2rem;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #21bb59;
}

/* MAIN */

main {
    width: 100%;
    background-color: #25d366;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    padding: 10px;
}

main img {
    height: 50vh;
    border-radius: .7rem;
}

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 /.8);
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0;
    transform: translateX(-5000px); */
}


#orden {
    background-color: #ddd;
    border-radius: .7rem;
    padding: 10px;
    width: 60%;
    position: fixed;
}

#orden h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid silver;
    padding: 10px;
}

.formulario {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formulario input,
.formulario textarea {
    width: 150px;
    height: 50px;
}

/* FOOTER */

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: .7rem;
    text-align: center;
}